
<div class="row">
    <div class="col-6" >
        <div class="form-group">
            <label for="name" class="h6">Tên nhân viên</label>
          <input type="text" [(ngModel)]="users.name" class="form-control" name="name" placeholder="Nhập họ tên">
        </div>
    </div>
    <div class="col-6">
         <div class="form-group">
             <label for="email">Email</label>
           <input type="email" [(ngModel)]="users.email" class="form-control" name="email" placeholder="Nhập email">
         </div>
     </div>
    <div class="col-6">
        <div class="form-group">
            <label for="password">Password</label>
          <input type="password" [(ngModel)]="users.password" class="form-control" name="password" placeholder="Nhập password">
        </div>
    </div>
    <div class="text-center mb-3">
        <button class="btn btn-success" (click)="addUser()" >Update</button>
    </div>
    <hr>
</div>

