.btn-color{
    background: red;
    margin-top: 20px;
    margin: 2px;
}
.btn:hover{
    background: rgb(75, 150, 150);
}
.btn-cancel{
    background: red;
    margin-top: 20px;
    margin: 2px;
}
.tb-text:hover{
    background-color: rgb(149, 185, 214);
}
.text-color{
    background-color: rgb(236, 9, 9);
    padding: 5px;
    border-radius: 0;
    font-size: 20px;
    font-weight: 400;
}
.bg-color{
    background-color: rgba(109, 131, 230, 0.5); 
    opacity:6;
}