.nav-color{
    padding: 20px;
}
.btn{
    .text-btn:hover{
        color: black;
    }
    
}
.text-header{
   font-family: 'Hurricane', cursive;
   font-size: 30px;
   color: red;
}
.bg-color{
    background-color: rgba(0, 45, 255, 0.5); 
color: rgba(0, 45, 255, 0.5);
}
.logout{
    margin-right: 10px;
}