.bg-color{
    background: rgb(151, 221, 233);
    border-radius: 20px;
}
.btn-color{
    background: red;
    margin-top: 20px;
    margin: 2px;
}
.btn:hover{
    background: rgb(75, 150, 150);
}
.btn-cancel{
    background: red;
    margin-top: 20px;
    margin: 2px;
}