
<div class="row">
    <div class="col-12" >
        
            <label for="name" class="h10">Tên hoa</label>
          <input type="text" [(ngModel)]="flowers.name" class="form-control" name="name" placeholder="Nhập tên hoa">
       
    </div>
    <div class="col-12">
         <div class="form-group">
             <label for="date">Ngày cập nhật</label>
           <input type="date" [(ngModel)]="flowers.date" class="form-control" name="date" >
         </div>
     </div>
    <div class="col-12">
        <div class="form-group">
            <label for="mota">Mô tả</label>
          <input type="text" [(ngModel)]="flowers.mota" class="form-control" name="mota" placeholder="Mô tả">
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="status">Trạng thái</label>
          <input type="text" [(ngModel)]="flowers.status" class="form-control" name="status" placeholder="Trạng thái">
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="mota">Số lượng</label>
          <input type="number" [(ngModel)]="flowers.soluong" class="form-control" name="soluong" >
        </div>
    </div>
    <div class="text-center mb-3">
        <button class="btn  btn-color" type="submit" data-bs-dismiss="modal" (click)="themHoa()">Thêm hoa</button>
       
    </div>
 
</div>